*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

a:hover{
    text-shadow: 0px 0px 40px white;
}

body{
    background-image: url(../imgs/moon.jpeg);
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
}

.logo{
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.header{
    display: flex;
}

.links{
    display: flex;
    margin-left: 700px;
    gap: 20px;
    font-size: 30px;
    align-items: center;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.a{
    transition: 1s ease-in-out;
}

.a:hover{
    text-shadow: 0px 0px 10px white;
}

.bun{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    float: right;
    margin-top: -100px;
    margin-right: 300px;
    box-shadow: 0px 0px 40px yellow;
    animation: bun 10s infinite;
}

.container{
    color: white;
}

.hp{
    text-align: center;
    margin-top: 300px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    animation: hp 10s infinite;
}

.icons{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}

.fa-instagram{
    margin-right: 50px;
    transition: 0.5s;
}

.fa-instagram:hover{
    transform: rotate(10deg);
    color: red;
    font-weight: 300;
}
.fa-facebook-f{
    margin-right: 50px;
    transition: 0.5s;
}

.fa-facebook-f:hover{
    transform: rotate(10deg);
    color: red;
    font-weight: 300;
}

.fa-telegram{
    transition: 0.5s;
}

.fa-telegram:hover{
    transform: rotate(10deg);
    color: red;
    font-weight: 300;
}

@keyframes bun {
    0%{
        transform: rotate(20deg);
        text-shadow: 0px 0px 20px yellow;
    }
    50%{
        transform: rotate(-20deg);
        text-shadow: 0px 0px 40px yellow;
    }
    100%{
        transform: rotate(20deg);
    }
}

@keyframes hp {
    0%{
        margin-right: 20px;
    }
    50%{
        margin-left: 20px;
    }
    100%{
        margin-right: 20;
    }
}

